<header>
  <h1>Mercado Online</h1>
  <nav>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/produtos">Produtos</a></li>
      <li><a href="/carrinho">Carrinho</a></li>
      <li><a href="/minha-conta">Minha Conta</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
  </nav>

  <% if current_page?(root_path) %>
    <button id="change-theme">Trocar tema</button>
  <% end %>
</header>

<script>
  const html = document.documentElement;

  const theme = localStorage.getItem("data-theme");
  if(theme) {
    html.setAttribute("data-theme", theme)
  }

  const button = document.getElementById("change-theme");
  button.addEventListener("click", () => {
    const theme = html.getAttribute("data-theme");
    if (theme == "dark") {
      html.setAttribute("data-theme", "light");
      localStorage.setItem("data-theme", "light")
    } else {
      html.setAttribute("data-theme", "dark");
      localStorage.setItem("data-theme", "dark")
    }
  });
</script>
