<header>
  <h1>Mercado Online</h1>
  <nav>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/produtos">Produtos</a></li>
      <li><a href="/carrinho">Carrinho</a></li>
      <li><a href="/minha-conta">Minha Conta</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
  </nav>
</header>
