<%= render "header", usuario: %>

<main class="container">
  <section>
    <h2>Fale Conosco</h2>
    <form>
      <p>
        <label for="nome">Nome:</label><br/>
        <input type="text" id="nome" name="nome">
      </p>
      <p>
        <label for="email">E-mail:</label><br/>
        <input type="email" id="email" name="email">
      </p>
      <p>
        <label for="assunto">Assunto:</label><br/>
        <input type="text" id="assunto" name="assunto">
      </p>
      <p>
        <label for="mensagem">Mensagem:</label><br/>
        <textarea id="mensagem" name="mensagem" rows="5"></textarea>
      </p>
      <p>
        <button type="submit">Enviar</button>
      </p>
    </form>
  </section>
</main>

<%= render "footer" %>
