<%= render "home/header" %>

<main class="container">
  <section class="grid">
    <% produtos.each do |produto| %>
      <%= render "produto", produto: %>
    <% end %>
  </section>
</main>

<%= render "home/footer" %>
